.App {
  text-align: center;
  background-color: black;
  cursor: none;
  height: 100vh;
}

.cursor-dot {
  width: 5px;
  height: 5px;
  background-color: white;
}
.cursor-dot-outline {
  height: 40px;
  width: 40px;
  border: 2px solid hsla(0, 0%, 100%, 0.5);
}

.cursor-dot,
.cursor-dot-outline {
  position: fixed;
  /* top: 0;
  left: 0;  */
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1000;
  border-radius: 50%;
}
